body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #333;
  padding: 20px;
}

.sidebar-icon {
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.icon {
  margin-right: 10px;
}

.sidebar-icon a {
  color: white;
  text-decoration: none;
  display: block;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #f1f1f1;
}

.main-content h1 {
  margin-bottom: 20px;
}

.profile-form {
  max-width: 400px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input, .input-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.contributors {
  display: flex;
  flex-direction: column;
}

.contributors label {
  margin-bottom: 10px;
}

.contributor-input {
  margin-bottom: 10px;
}

.add-contributor-btn {
  margin-top: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#create-project-btn {
  margin-top: 50px; 
}

button#show-projects-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.project-list {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.project-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.project-item h3 {
  margin: 0;
}

.project-item p {
  margin: 5px 0;
  font-size: 0.9em;
  color: #444;
}

#edit-personnel-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


