<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_pages.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="/profile" class="sidebar-icon">
                <a href="/profile" class="sidebar-icon">
                <img src="/static/sidebar_icons/profile_icon.png" alt="Profile" /> <span class="text">Profile</span>
                </a>
{#                <span class="icon">👤</span>#}
            </a>
            <a href="/projects" class="sidebar-icon">
                <img src="/static/sidebar_icons/projects_icon.png" alt="Profile" /> <span class="text">Projects</span>
{#                <span class="icon">📁</span>#}
            </a>
            <a href="/my_tasks" class="sidebar-icon">
                <img src="/static/sidebar_icons/tasks_icon.png" alt="Profile" /> <span class="text">Tasks</span>
{#                <span class="icon">📊</span>#}
            </a>
            <a href="/messages" class="sidebar-icon">
                <img src="/static/sidebar_icons/messages_icon.png" alt="Profile" /><span class="text">Messages</span>
{#                <span class="icon">✉️</span>#}
            </a>
        </div>
        <div class="main-content">
            <h1>Edit Profile</h1>
            <div class="profile-form">
                <div class="input-group">
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" value="{{ profile.name }}" required>
                </div>
                <div class="input-group">
                    <label for="age">Age:</label>
                    <input type="number" id="age" name="age" value="{{ profile.age }}" required>
                </div>
                <div class="input-group">
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="location" value="{{ profile.location }}" required>
                </div>
                <div class="input-group">
                    <label for="birthday">Birthday:</label>
                    <input type="date" id="birthday" name="birthday" value="{{ profile.birthday }}" required>
                </div>
                <div class="input-group">
                    <label for="summary">Summary:</label>
                    <textarea id="summary" name="summary" rows="4">{{ profile.summary }}</textarea>
                </div>
                <button id="save-profile-btn">Save Profile</button>
            </div>
        </div>
    </div>
    <script src="static\js\update_data.js"></script>
</body>
</html>
