<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_pages.css') }}">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="/profile" class="sidebar-icon">
                <span class="icon">👤</span>
                <span class="text">Profile</span>
            </a>
            <a href="/projects" class="sidebar-icon">
                <span class="icon">📁</span>
                <span class="text">Projects</span>
            </a>
            <a href="/my_tasks" class="sidebar-icon">
                <span class="icon">📊</span>
                <span class="text">Tasks</span>
            </a>
            <a href="/messages" class="sidebar-icon">
                <span class="icon">✉️</span>
                <span class="text">Messages</span>
            </a>
        </div>
        <div class="main-content">
            <h1>{{ project.name }}</h1>
            <p>Owner: {{ project.owner }}</p>
            <p>Contributors: 
                {% for contributor in project.contributors %}
                    {{ contributor }}{% if not loop.last %}, {% endif %}
                {% endfor %}
            </p>
            <button onclick="edit_personnel()">Edit Personnel</button>
            <h1>Manage Tasks</h1>
            <button onclick="manageTasks()">Manage Tasks</button>
            <button onclick="goBack()">Go Back</button>
        </div>
    </div>

    <script>
        function goBack() {
            window.history.back();
        }

        function edit_personnel() {
            window.location.href = '/project/{{ project.name }}/edit_personnel';
        }

        function manageTasks() {
            window.location.href = '/project/{{ project.name }}/tasks';
        }
    </script>
</body>
</html>
