<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Error | Creative Collaborative Workspace</title>
    <link rel="stylesheet" href="static\css\auth_error.css">
</head>
<body>
    <div class="signup-error-container">
        <h2>Signup Error</h2>
        <p>There was an error during signup. Either the email was already used or your password was not secure enough. Please try again.</p>
        <a href="/signup" class="btn">Go Back to Signup Page</a>
    </div>
</body>
</html>
