<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Projects</title>
    <link rel="stylesheet" href="static/css/main_pages.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <a href="/profile" class="sidebar-icon">
                <span class="icon">👤</span>
                <span class="text">Profile</span>
            </a>
            <a href="/projects" class="sidebar-icon">
                <span class="icon">📁</span>
                <span class="text">Projects</span>
            </a>
            <a href="/my_tasks" class="sidebar-icon">
                <span class="icon">📊</span>
                <span class="text">Tasks</span>
            </a>
            <a href="/messages" class="sidebar-icon">
                <span class="icon">✉️</span>
                <span class="text">Messages</span>
            </a>
        </div>
        <div class="main-content">
            <h1>All Projects</h1>
            <div id="project-list">
                {% for project in projects %}
                <div class="project-item">
                    <h3><a href="/project/{{ project.name }}">{{ project.name }}</a></h3>
                    <p>Owner: {{ project.owner }}</p>
                    <p>Contributors: 
                        {% for contributor in project.contributors %}
                            {{ contributor.S }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
                {% endfor %}
            </div>
            <button onclick="goBack()">Go Back</button>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>
